{% extends "base.html" %}
{% load static %}
{% block title %} Edit Task {% endblock %}
{% block content %}

<div class="container">
    <br>
    {% if task_obj.manager == request.user %}
<form method='POST' class="row">
    {% csrf_token %}
    <label class="col-md-2"></label>
    <div class="col-md-6">
       <input type="text" class="form-control"  name="task" placeholder="{{task_obj.task}}" value="{{task_obj.task}}">
      <input type="hidden"   name="done"  value="{{task_obj.done}}">
       </div>
       <div class="col-md-2">
       <button type="submit" class="btn btn-primary">Update Task</button>
     </div>
     </form>
     {% else %}
     <p>Access Restricted , You are Not Allowed!</p>
    {% endif %}
    </div>

{% endblock %}
